---
import type { GetStaticPaths } from "astro";
import { getCollection, render, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "@unpic/astro";

export const getStaticPaths: GetStaticPaths = async () => {
  // en-CA formats as yyyy-mm-dd
  const formatter = new Intl.DateTimeFormat("en-CA", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  });

  const episodes = await getCollection("podcasts");
  return episodes.map((episode) => ({
    params: {
      id: formatter.format(episode.data.published!),
    },
    props: { episode },
  }));
};

type Props = { episode: CollectionEntry<"podcasts"> };

const { episode } = Astro.props;
const { data } = episode;

const { Content } = await render(episode);

const img = data.image?.url;
const alt = data.image?.title ?? data.title;
---

<Layout title={data.title ?? "Episode"}>
  <h1>{data.title}</h1>
  {
    img ? (
      <Image src={img} alt={alt} width={100} height={100} layout="fixed" />
    ) : undefined
  }
  <p>
    {
      data.media.map((media) => (
        <audio controls>
          <source src={media.url} type={media.mimeType} />
        </audio>
      ))
    }
  </p>
  <Content />
</Layout>
